* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 20px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  padding: 40px 0;
}

section h1 {
  color: rgba(0, 166, 127, 0.75);
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
}

section p {
  color: #2c2c2c;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 50%;
  margin: 0 auto;
}

.bottom-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  padding: 15px 0;
  z-index: 10;
}

.bottom-input p {
  text-align: center;
  color: #9d9d9d;
  margin-bottom: 10px;
  font-size: 0.7rem;
}

.text-input-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#manualInput {
  padding: 10px;
  width: 500px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#sendBtn {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #00a67e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#sendBtn:hover {
  background-color: #00722c;
}

.texts p {
  color: #141414;
  border-bottom: 1.5px solid #e7e7e7;
  text-align: left;
  padding: 10px;
  width: 100%;
  margin-bottom: 0px;
}

.texts p.replay {
  border-bottom: 1.5px solid #e7e7e7;
  text-align: right;
  background-color: #f7f7f8;
  color: #2b313e;
}

.texts p.error {
  background-color: #f7f7f8;
  border-bottom: 1.5px solid #e7e7e7;
  text-align: right;
  color: #ff3333;
}

/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00a67e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loader {
  margin: -10px auto;
  width: 80px;
  height: 80px;
  position: relative;
  display: none;
}

.loading {
  display: block;
}
